# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment secrets
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres_data/
redis_data/

# Frontend / Node
node_modules/
dist/
dist-ssr/
*.local

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

