# GetPOS Kafe - Konfiguratsiya

PORT=4000

# Tashqi Backend API sozlamalari
# Siz taqdim etadigan backend API manzilini shu yerga yozasiz:
USE_EXTERNAL_API=false
EXTERNAL_API_BASE_URL=https://api.getpos.uz/api
EXTERNAL_API_TOKEN=your_auth_token_here
EXTERNAL_API_KEY=your_api_key_here

# Kafe va Soliq rekvizitlari
COMPANY_NAME=GETPOS KAFE MCHJ
COMPANY_INN=307849201
TERMINAL_ID=EP108492
FISCAL_MODULE_ID=FM99882211
COMPANY_ADDRESS=Toshkent sh., Chilonzor tumani
